.images{
    margin-top: 150px;
    width: 980px;
    font-size: 0px;
    font-family: Optima, serif;
}

.slide{
    position: relative;
}

.blog-text{
    position: absolute;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    padding: 5px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.single-image{
    padding: 0px;
    margin: 0px;
}

.single-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.description{
    font-size: 18px;
    margin: 10px 0px 50px 0px;
}