.images{
    margin-top: 150px;
    width: 1280px;
    font-size: 0px;
}

.slide{
    position: relative;
}

.blog-text{
    position:absolute;
    font-size: 20px;
    color: #ffffff;
    margin: 30px;
}

.single-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    
}