<div class="slide">
    <div class="blog-text" style="top: 5%; left: 60%;">
        <p>December 23, 2024 - Decided to go to Charlottetown for a quick photo walk.</p>
    </div> 
    <div class="single-image">
        <img src="./2024-12-23-1.webp">
    </div>
</div>