<div class="slide">
    <div id="blog-text" class="blog-text" style="{{position}}">
        <p>{{description}}</p>
    </div> 
    <div class="single-image">
        <img src="{{filename}}">
    </div>
</div>